h1 {
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: Yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #150170;
}

header.myheadsimple {
  margin-bottom: 20px;
  color: White;
  font-size: 15px;
  font-style: Normal;
  position: relative;
  background-size: cover;
}


header.myheadsimple2 {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  font-style: Normal;
  position: relative;
  background-size: cover;
}

header.myhead {
  margin-bottom: 5px;
  background: no-repeat center center;
  background-color: #768e96;
  color: white;
  font-size: 18px;
  font-style: oblique;
  position: relative;
  background-size: cover;
}
header.myhead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 65%;
  width: 100%;
  background-color: #112529;
  opacity: 0.0;
}
#design1 {
  background: url(Background.jpg)right bottom repeat;
  padding: 15px;
  border: 10px solid transparent;
  font-family: "Arial";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: Darkpink;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1 {background-color: Brown;}
.button2 {background-color: #008CBA;} 
.button3 {background-color: #f44336;} 
.button4 {background-color: Orange;}  
.button5 {background-color: #555555;} 
.button6 {background-color: Purple;} 
.button7 {background-color: Darkblue;} 
.button8 {background-color: Darkgreen;} 
.button9 {background-color: Darkyellow;} 
.button10 {background-color: lightblue;} 
.button11 {
  background-color: lightgrey;
  color: Darkpink;
  border: 2px solid green;
}

.button11:hover {
	background-color: darkgreen;
	color: white;}
	
.button1:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
.button2:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
.button3:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button4:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button5:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button6:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button7:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button8:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button9:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}
	.button10:hover {
	background-color: Darkpink;
	color: darkred;
    border: 2px solid red;
}


p.inset {border-style: inset;}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: aqua;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
